<se-container padding="large">
  <se-block width="400px" id="userForm">
    <app-teams-form></app-teams-form>
  </se-block>
  <se-block>
    <app-teams-details-view></app-teams-details-view>
  </se-block>
</se-container>

<se-fab icon="action_share" position="bottom">
    <se-fab-item icon="notification_critical_stroke">New Work Order</se-fab-item>
    <se-fab-item icon="notebook_paper">New Task</se-fab-item>
    <se-fab-item icon="task">New User</se-fab-item>
    <se-fab-item icon="user_add">New Work Item</se-fab-item>
    <se-fab-item icon="notebook_paper">New Task List</se-fab-item>
</se-fab>
